parameters:
    level: max
    ignoreErrors:
        - '/Function expect invoked with 1 parameter, 0 required\./'
includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/jangregor/phpstan-prophecy/src/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
